[Desktop Entry]
Name=User Installed Packages
Comment=List user installed packages. Install packages from existing list
Icon=user-installed-packages
Type=Application
Exec=user-installed-packages
Categories=System;MX-Setup;
